[submodule "rosflight/include/mavlink/v1.0"]
	path = rosflight/include/rosflight/mavlink/v1.0
	url = https://github.com/uf-reef-avl/torque_flight_mavlink
[submodule "rosflight_firmware/firmware"]
	path = rosflight_firmware/firmware
	url = https://github.com/uf-reef-avl/torque_flight_firmware
